<div class="container text-center">
    <div class="row">
        <div id="content" class="col-12 col-md-7 col-lg-6">
            <img src="/assets/img/burger.png">
            <h1>Eat-Da-Burger!</h1>
            <br>
            <div id="burgers">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Available</th>
                            <th scope="col"></th>
                            <th scope="col">Eaten</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each burger}}
                        {{#if devoured}}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{burger_name}}</td>
                        </tr>
                        {{else}}
                        <tr>
                            <td>{{burger_name}}</td>
                            <td><button class="btn btn-outline-danger btn-sm devour">Devour It!</button></td>
                            <td></td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <br>
            <form action="">
                <h4>Add a Burger</h4>
                <div class="form-group">
                    <input class="form-control" type="text" name="burger_name" id="burger_name">
                </div>
                <input class="btn btn-primary" type="submit" id="submit" value="Add Burger">
            </form>
        </div>
    </div>
</div>